# Virtual environment
env/

# Environment variables file
.env

# Byte-compiled / cached files
__pycache__/
*.py[cod]
*.pyo

# Gunicorn logs
gunicorn.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other dependencies
color_analysis.py
*.png
